# Team-A

In [2]:
import numpy as np 
import pandas as pd 

pd.set_option('display.max_columns', 500)
import warnings
warnings.filterwarnings("ignore")

In [3]:
df=pd.read_csv("E:\personal\python\PROJECT-techno\Borrowers-Credit-risk-modelling-of-leading-European-P2P-lending-platform-Bondora\Bondora_preprocessed.csv",low_memory=False)

In [4]:
df.shape

(77394, 42)

In [5]:
df.head()

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,LanguageCode,Age,Gender,Country,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,County,City,UseOfLoan,Education,MaritalStatus,EmploymentStatus,EmploymentDurationCurrentEmployer,OccupationArea,HomeOwnershipType,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,Rating,Restructured,CreditScoreEsMicroL,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,DefaultStatus
0,0,0,115.0410,No prior credit history in Bondora,"Income unverified,cross-referenced by phone",Estonian,61,Woman,EE,319.5582,115.0408,30.0,12,NaN,HARJU,TALLINN,Other,Vocational education,Married,Fully employed,UpTo3Years,Retail and wholesale,NaN,10500.0,0,0.0,0,0.0,0.0,25,NaN,Marurity date is not incresed,NaN,115.0408,20.4222,0.00,0.00,1,83.0852,0.0000,0,0
1,0,0,140.6057,Customer had at least 3 months of credit histo...,"Income unverified,cross-referenced by phone",Estonian,48,Woman,EE,191.7349,140.6057,25.0,1,NaN,IDA-VIRU,KOHTLA-JARVE,Other,Higher education,Divorced,Fully employed,MoreThan5Years,Education,NaN,10800.0,0,0.0,0,0.0,0.0,15,NaN,Marurity date is not incresed,NaN,140.6057,2.0227,0.00,0.00,2,255.6467,258.6256,0,0
2,0,0,319.5580,No prior credit history in Bondora,"Income unverified,cross-referenced by phone",Estonian,58,Woman,EE,319.5582,319.5409,25.0,20,NaN,PÄRNU,PÄRNU,Home improvement,Secondary education,Married,Fully employed,UpTo4Years,Hospitality and catering,NaN,7000.0,0,0.0,0,0.0,0.0,25,NaN,The original maturity date increased more than...,NaN,203.1909,59.7626,116.35,414.07,0,0.0000,0.0000,0,1
3,0,0,57.5205,No prior credit history in Bondora,"Income unverified,cross-referenced by phone",Estonian,23,Woman,EE,127.8233,57.5205,45.0,15,NaN,HARJU,PALDISKI,Loan consolidation,Basic education,Single,NaN,UpTo2Years,Other,NaN,11600.0,0,0.0,0,0.0,0.0,15,NaN,Marurity date is not incresed,NaN,57.5205,18.7323,0.00,0.00,1,134.2144,0.0000,0,0
4,0,0,319.5582,No prior credit history in Bondora,"Income unverified,cross-referenced by phone",Estonian,25,Woman,EE,319.5582,319.5436,30.0,12,NaN,TARTU,TARTU,Vehicle,Secondary education,Cohabitant,Fully employed,UpTo2Years,Retail and wholesale,NaN,6800.0,0,0.0,0,0.0,0.0,25,NaN,Marurity date is not incresed,NaN,319.5436,220.4200,0.00,0.00,1,146.9966,0.0000,0,1

In [6]:
# for col in df.columns:
#     print(col)

In [7]:
df.isnull().sum()

BidsPortfolioManager                          0
BidsApi                                       0
BidsManual                                    0
NewCreditCustomer                             0
VerificationType                             45
LanguageCode                                  0
Age                                           0
Gender                                       45
Country                                       0
AppliedAmount                                 0
Amount                                        0
Interest                                      0
LoanDuration                                  0
MonthlyPayment                             6627
County                                    20515
City                                       5044
UseOfLoan                                     0
Education                                    45
MaritalStatus                                45
EmploymentStatus                            197
EmploymentDurationCurrentEmployer           874
OccupationArea                               86
HomeOwnershipType                          1652
IncomeTotal                                   0
ExistingLiabilities                           0
LiabilitiesTotal                              0
RefinanceLiabilities                          0
DebtToIncome                                 45
FreeCash                                     45
MonthlyPaymentDay                             0
Rating                                     2728
Restructured                                  0
CreditScoreEsMicroL                       26186
PrincipalPaymentsMade                         0
InterestAndPenaltyPaymentsMade                0
PrincipalBalance                              0
InterestAndPenaltyBalance                     0
NoOfPreviousLoansBeforeLoan                   0
AmountOfPreviousLoansBeforeLoan               0
PreviousRepaymentsBeforeLoan              19316
PreviousEarlyRepaymentsCountBeforeLoan        0
DefaultStatus                                 0
dtype: int64

In [8]:
df.drop(['County', 'City','CreditScoreEsMicroL','PreviousRepaymentsBeforeLoan','Rating','HomeOwnershipType'], axis=1)

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,LanguageCode,Age,Gender,Country,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,UseOfLoan,Education,MaritalStatus,EmploymentStatus,EmploymentDurationCurrentEmployer,OccupationArea,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,Restructured,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,DefaultStatus
0,0,0,115.0410,No prior credit history in Bondora,"Income unverified,cross-referenced by phone",Estonian,61,Woman,EE,319.5582,115.0408,30.00,12,NaN,Other,Vocational education,Married,Fully employed,UpTo3Years,Retail and wholesale,10500.0,0,0.00,0,0.00,0.00,25,Marurity date is not incresed,115.0408,20.4222,0.00,0.00,1,83.0852,0,0
1,0,0,140.6057,Customer had at least 3 months of credit histo...,"Income unverified,cross-referenced by phone",Estonian,48,Woman,EE,191.7349,140.6057,25.00,1,NaN,Other,Higher education,Divorced,Fully employed,MoreThan5Years,Education,10800.0,0,0.00,0,0.00,0.00,15,Marurity date is not incresed,140.6057,2.0227,0.00,0.00,2,255.6467,0,0
2,0,0,319.5580,No prior credit history in Bondora,"Income unverified,cross-referenced by phone",Estonian,58,Woman,EE,319.5582,319.5409,25.00,20,NaN,Home improvement,Secondary education,Married,Fully employed,UpTo4Years,Hospitality and catering,7000.0,0,0.00,0,0.00,0.00,25,The original maturity date increased more than...,203.1909,59.7626,116.35,414.07,0,0.0000,0,1
3,0,0,57.5205,No prior credit history in Bondora,"Income unverified,cross-referenced by phone",Estonian,23,Woman,EE,127.8233,57.5205,45.00,15,NaN,Loan consolidation,Basic education,Single,NaN,UpTo2Years,Other,11600.0,0,0.00,0,0.00,0.00,15,Marurity date is not incresed,57.5205,18.7323,0.00,0.00,1,134.2144,0,0
4,0,0,319.5582,No prior credit history in Bondora,"Income unverified,cross-referenced by phone",Estonian,25,Woman,EE,319.5582,319.5436,30.00,12,NaN,Vehicle,Secondary education,Cohabitant,Fully employed,UpTo2Years,Retail and wholesale,6800.0,0,0.00,0,0.00,0.00,25,Marurity date is not incresed,319.5436,220.4200,0.00,0.00,1,146.9966,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77389,2515,0,485.0000,No prior credit history in Bondora,Income verified,Finnish,37,Male,FI,3000.0000,3000.0000,31.01,60,107.68,Loan consolidation,Vocational education,Single,Fully employed,MoreThan5Years,Other,1400.0,1,500.00,0,7.69,792.32,1,Marurity date is not incresed,2308.1900,0.0000,0.00,0.00,0,0.0000,0,1
77390,1880,0,1120.0000,Customer had at least 3 months of credit histo...,Income verified,Finnish,35,Male,FI,3000.0000,3000.0000,18.25,60,85.33,Home improvement,Vocational education,Single,Fully employed,MoreThan5Years,Transport and warehousing,2265.0,5,1777.46,0,31.58,520.67,7,Marurity date is not incresed,3000.0000,1990.0300,0.00,0.00,1,3000.0000,0,0
77391,1975,0,525.0000,No prior credit history in Bondora,Income unverified,Finnish,40,Male,FI,2500.0000,2500.0000,24.83,60,80.42,Loan consolidation,Vocational education,Married,Entrepreneur,MoreThan5Years,Construction,2500.0,2,1350.00,0,3.22,1069.58,1,Marurity date is not incresed,1869.7600,199.3300,630.24,1227.98,0,0.0000,0,1
77392,1840,0,1160.0000,Customer had at least 3 months of credit histo...,Income and expenses verified,Estonian,47,Woman,EE,3000.0000,3000.0000,17.74,60,84.51,Other,Higher education,Married,Fully employed,MoreThan5Years,Healthcare and social help,540.0,8,732.05,2,44.35,50.49,1,The original maturity date increased more than...,2257.5400,561.5300,0.00,0.00,1,500.0000,0,1
77393,2990,0,10.0000,Customer had at least 3 months of credit histo...,Income and expenses verified,Estonian,21,Woman,EE,3000.0000,3000.0000,30.50,60,106.74,Loan consolidation,Secondary education,Single,Fully employed,UpTo3Years,Agriculture forestry and fishing,500.0,5,531.03,1,35.03,74.86,3,The original maturity date increased more than...,1473.9100,683.2100,1526.09,9019.04,1,2500.0000,0,1

In [9]:
df.shape

(77394, 42)

In [10]:
df.dropna(inplace = True)
df.isna().sum()

BidsPortfolioManager                      0
BidsApi                                   0
BidsManual                                0
NewCreditCustomer                         0
VerificationType                          0
LanguageCode                              0
Age                                       0
Gender                                    0
Country                                   0
AppliedAmount                             0
Amount                                    0
Interest                                  0
LoanDuration                              0
MonthlyPayment                            0
County                                    0
City                                      0
UseOfLoan                                 0
Education                                 0
MaritalStatus                             0
EmploymentStatus                          0
EmploymentDurationCurrentEmployer         0
OccupationArea                            0
HomeOwnershipType                         0
IncomeTotal                               0
ExistingLiabilities                       0
LiabilitiesTotal                          0
RefinanceLiabilities                      0
DebtToIncome                              0
FreeCash                                  0
MonthlyPaymentDay                         0
Rating                                    0
Restructured                              0
CreditScoreEsMicroL                       0
PrincipalPaymentsMade                     0
InterestAndPenaltyPaymentsMade            0
PrincipalBalance                          0
InterestAndPenaltyBalance                 0
NoOfPreviousLoansBeforeLoan               0
AmountOfPreviousLoansBeforeLoan           0
PreviousRepaymentsBeforeLoan              0
PreviousEarlyRepaymentsCountBeforeLoan    0
DefaultStatus                             0
dtype: int64

In [11]:
df.shape

(23372, 42)

In [12]:
df2 = df.copy()

# Creating Targeted Column

The **EMI** is calculated based on the following mathematical formula:

**EMI = P × r × (1 + r) ^ n / ((1 + r) ^ n – 1)**
**Where,**

**P = Loan amount. "Amount"**

**r = Rate of interest, which is calculated on a monthly basis. Interest**

**n = Loan tenure (in months). LoanDuration**

**Loan tenure: is the amount of time you are given to repay your loan**
**Amount is not evident in this dataset (after FeatureEngineering), so I'll upload it from the original daaset.**

In [13]:
df_temp = df2[['LoanDuration', 'Interest', 'Amount']]

In [14]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23372 entries, 497 to 77386
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LoanDuration  23372 non-null  int64
 1   Interest      23372 non-null  float64
 2   Amount        23372 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 730.4 KB

In [15]:
def cal_EMI(P, r, n):
  P = P.values
  r = r.values
  n = n.values
  #print(P.shape[0])
  result_1 = np.empty(0)
  result_2 = np.empty(0)
  result = np.empty(0)
  for i in range(P.shape[0]):
    #print(P[i])
    #print(r[i])
    #print(n[i])
    # EMI = P × r × (1 + r) ^ n / ((1 + r) ^ n – 1)
    #print(P[i] * (1 + r[i]))
    result_1 = np.append(result_1, P[i] * r[i] * np.power((1 + r[i]),n[i]))
    result_2 = np.append(result_2, np.power((1 + r[i]),n[i]) - 1)
    result = np.append(result, (result_1[i] / result_2[i]))

  return result

In [16]:
df_temp['EMI'] = cal_EMI(df_temp['Amount'], df_temp['Interest'], df_temp['LoanDuration'])

In [17]:
df2['EMI'] = df_temp['EMI']

In [18]:
df2['EMI'].head()

497    62240.0
499    40400.0
500    31120.0
523    57090.0
534    31120.0
Name: EMI, dtype: float64

In [19]:
# df2.head()

**Eligible Loan Amount**
ELA = Assets (Income) - Liabilities of the borrower

Assets:

FreeCash = ELA

TotalIncome - LiabilitiesTotal = ELA

Let's Check both of them out in the data.

Under Concsideration

Eligible Loan Amount means, with respect to a Mortgage Loan that is an Eligible Loan, the lesser of:

(i) the Principal Balance of such Eligible Loan, AppliedAmount

(ii) the Market Value of such Eligible Loan PurchasePrice | BidPrinciple

**My Approach**

Calculate AppliedAmount + AppliedAmount*Interest = Total Liabilities Amount

Divide on the loan tenure (months)

If the result is less than (TotalIncome- LiabilitiesTotal)*30/100

Then allow the Applied Amount, If not allow only the result of the previous calculation.

In [20]:
df_temp = df2[['AppliedAmount', 'Interest', 'IncomeTotal', 'LiabilitiesTotal', 'LoanDuration']]
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23372 entries, 497 to 77386
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   AppliedAmount     23372 non-null  float64
 1   Interest          23372 non-null  float64
 2   IncomeTotal       23372 non-null  float64
 3   LiabilitiesTotal  23372 non-null  float64
 4   LoanDuration      23372 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 1.1 MB

In [21]:
df_temp[df_temp['IncomeTotal']==3665].shape

(0, 5)

In [22]:
# Step 1
df_temp['Ava_Inc'] = ((df_temp['IncomeTotal']-df_temp['LiabilitiesTotal'])*0.3)
df_temp['Total_Loan_Amnt'] = np.round((df['AppliedAmount'] + (df['AppliedAmount'] * df['Interest']) /100)*df['LoanDuration'])
df_temp.head()

,AppliedAmount,Interest,IncomeTotal,LiabilitiesTotal,LoanDuration,Ava_Inc,Total_Loan_Amnt
497,2000.0,31.12,1700.0,1010.0,36,207.0,94406.0
499,1000.0,40.40,1200.0,360.0,60,252.0,84240.0
500,1000.0,31.12,1410.0,1545.0,60,-40.5,78672.0
523,1000.0,57.09,1079.0,737.0,60,102.6,94254.0
534,1000.0,31.12,1400.0,420.0,60,294.0,78672.0

In [23]:
# Step 2
def eligible_loan_amnt(df):
  Ava_Inc = df_temp['Ava_Inc'].values
  Total_Loan_Amnt = df_temp['Total_Loan_Amnt'].values
  ELA = np.empty(0)
  for i in range(len(Ava_Inc)):
    if Total_Loan_Amnt[i] <= Ava_Inc[i]:
      ELA = np.append(ELA, Total_Loan_Amnt[i])
    else:
      ELA = np.append(ELA, Ava_Inc[i])
  return ELA

In [24]:
df_temp['ELA'] = eligible_loan_amnt(df_temp)

In [25]:
df_temp.head()

,AppliedAmount,Interest,IncomeTotal,LiabilitiesTotal,LoanDuration,Ava_Inc,Total_Loan_Amnt,ELA
497,2000.0,31.12,1700.0,1010.0,36,207.0,94406.0,207.0
499,1000.0,40.40,1200.0,360.0,60,252.0,84240.0,252.0
500,1000.0,31.12,1410.0,1545.0,60,-40.5,78672.0,-40.5
523,1000.0,57.09,1079.0,737.0,60,102.6,94254.0,102.6
534,1000.0,31.12,1400.0,420.0,60,294.0,78672.0,294.0

In [26]:
df2['ELA'] = df_temp['ELA']
df2.columns

Index(['BidsPortfolioManager', 'BidsApi', 'BidsManual', 'NewCreditCustomer',
       'VerificationType', 'LanguageCode', 'Age', 'Gender', 'Country',
       'AppliedAmount', 'Amount', 'Interest', 'LoanDuration', 'MonthlyPayment',
       'County', 'City', 'UseOfLoan', 'Education', 'MaritalStatus',
       'EmploymentStatus', 'EmploymentDurationCurrentEmployer',
       'OccupationArea', 'HomeOwnershipType', 'IncomeTotal',
       'ExistingLiabilities', 'LiabilitiesTotal', 'RefinanceLiabilities',
       'DebtToIncome', 'FreeCash', 'MonthlyPaymentDay', 'Rating',
       'Restructured', 'CreditScoreEsMicroL', 'PrincipalPaymentsMade',
       'InterestAndPenaltyPaymentsMade', 'PrincipalBalance',
       'InterestAndPenaltyBalance', 'NoOfPreviousLoansBeforeLoan',
       'AmountOfPreviousLoansBeforeLoan', 'PreviousRepaymentsBeforeLoan',
       'PreviousEarlyRepaymentsCountBeforeLoan', 'DefaultStatus', 'EMI',
       'ELA'],
      dtype='object')

**Preferred ROI**

We weren't able to determine the procedure of handling Risk related to loan in order to determine Preferred ROI.

In order to complete the task in hand and complete it, we'll calculate ROI instead.

**ROI** = Investment Gain / Investment Base

**ROI** = Amount lended * interest/100

InterestAndPenaltyDebtServicingCost Service cost related to the recovery of the debt based on the interest and penalties of the investment

InterestAndPenaltyWriteOffs Interest that was written off on the investment

PrincipalDebtServicingCost Service cost related to the recovery of the debt based on the principal of the investment

PrincipalWriteOffs Principal that was written off on the investment

PurchasePrice Investment amount or secondary market purchase price

In [27]:
df_temp = df2[['Amount', 'Interest']]
df_temp.head()

     Amount  Interest
497  2000.0     31.12
499  1000.0     40.40
500  1000.0     31.12
523  1000.0     57.09
534  1000.0     31.12

In [28]:
df_temp['InterestAmount'] = (df_temp['Amount']*(df_temp['Interest']/100))
df_temp['TotalAmount'] = (df_temp['InterestAmount'] + df_temp['Amount'])
df_temp['ROI'] = (df_temp['InterestAmount'] / df_temp['TotalAmount'])*100
df2['ROI'] = df_temp['ROI']

In [29]:
df_temp.head()

     Amount  Interest  InterestAmount  TotalAmount        ROI
497  2000.0     31.12           622.4       2622.4  23.733984
499  1000.0     40.40           404.0       1404.0  28.774929
500  1000.0     31.12           311.2       1311.2  23.733984
523  1000.0     57.09           570.9       1570.9  36.342224
534  1000.0     31.12           311.2       1311.2  23.733984

# Handling outliers:

In [30]:
# Let's compute IQR for each numerical feature
df_IQR = df2[df2.select_dtypes([float, int]).columns].quantile(.75) - df2[df2.select_dtypes([float, int]).columns].quantile(.25)

In [31]:
# Let's compute maximum and minimum limits
df_Max =  df2[df2.select_dtypes([float, int]).columns].quantile(.75) + (1.5*df_IQR)
df_Min =  df2[df2.select_dtypes([float, int]).columns].quantile(.25) - (1.5*df_IQR)

In [32]:
df2.select_dtypes([float, int]).columns

Index(['BidsPortfolioManager', 'BidsApi', 'BidsManual', 'Age', 'AppliedAmount',
       'Amount', 'Interest', 'LoanDuration', 'MonthlyPayment', 'IncomeTotal',
       'ExistingLiabilities', 'LiabilitiesTotal', 'RefinanceLiabilities',
       'DebtToIncome', 'FreeCash', 'MonthlyPaymentDay',
       'PrincipalPaymentsMade', 'InterestAndPenaltyPaymentsMade',
       'PrincipalBalance', 'InterestAndPenaltyBalance',
       'NoOfPreviousLoansBeforeLoan', 'AmountOfPreviousLoansBeforeLoan',
       'PreviousRepaymentsBeforeLoan',
       'PreviousEarlyRepaymentsCountBeforeLoan', 'DefaultStatus', 'EMI', 'ELA',
       'ROI'],
      dtype='object')

In [33]:
col_IQR = df2['Age'].quantile(.75) - df2['Age'].quantile(.25)
col_Max =  df2['Age'].quantile(.75) + (1.5*col_IQR)

Now we will replace outliers of each column with Lower and Upper bounds of each column:

In [34]:
# Loop for replacing outliers above upper bound with the upper bound value:
for column in df2.select_dtypes([float, int]).columns :
   
    col_IQR = df2[column].quantile(.75) - df2[column].quantile(.25)
    col_Max =  df2[column].quantile(.75) + (1.5*col_IQR)
    df2[column][df2[column] > col_Max] =  col_Max

In [35]:
# Loop for replacing outliers under lower bound with the lower bound value:
for column in df2.select_dtypes([float, int]).columns :
    col_IQR = df2[column].quantile(.75) - df2[column].quantile(.25)
    col_Min =  df2[column].quantile(.25) - (1.5*col_IQR)
    df2[column][df2[column] < col_Min] =  col_Min

**Feature Engineering for Regression Modeling**

Splitting the data into Independent and Dependent variables

Creating Dummy variables for Categorical data

Standard Scaling

In [36]:
# Splitting Independent and Dependent Variables
X = df2.drop(['EMI', 'ELA', 'ROI'], axis=1)
y = df2[['EMI', 'ELA', 'ROI']]

**Creating Dummy variables for Categorical Data**

In [37]:
# Let's perform categorical features encoding:
X = pd.get_dummies(X)

**Standard Scaling**

In [38]:
from sklearn.preprocessing import StandardScaler 

scalar = StandardScaler()

X = scalar.fit_transform(X)

In [39]:
y = scalar.fit_transform(y)

# Regression Modeling:

Splitting Data

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = .75)

# LinearRegression

In [41]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()

lin_reg.fit(X_train, y_train)

y_pred_lin = lin_reg.predict(X_test)

In [42]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_percentage_error

# model evaluation
print('Model Evaluation:')
print('mean_squared_error : ', mean_squared_error(y_test, y_pred_lin))
print('mean_squared_percentage_error : ', mean_absolute_percentage_error(y_test, y_pred_lin, multioutput=[0.3, 0.5, 0.7]))
print('R2_score : ', r2_score(y_test, y_pred_lin))

Model Evaluation:
mean_squared_error :  7.082459140283948e+26
mean_squared_percentage_error :  30438667199598.465
R2_score :  -7.149672101739416e+26

# RidgeRegression L2 Norm

**Base Model**

In [43]:
from sklearn.linear_model import Ridge

rid_reg = Ridge()

rid_reg.fit(X_train, y_train)

y_pred_base = rid_reg.predict(X_test)

In [44]:
# model evaluation
print('Ridge Regression - Base Model:')
print('mean_squared_error : ', mean_squared_error(y_test, y_pred_base))
print('mean_squared_percentage_error : ', mean_absolute_percentage_error(y_test, y_pred_base, multioutput=[0.3, 0.5, 0.7]))
print('R2_score : ', r2_score(y_test, y_pred_base))

Ridge Regression - Base Model:
mean_squared_error :  0.0648244255305409
mean_squared_percentage_error :  0.7403076322789817
R2_score :  0.9345643744405479

**Hyperparameter Tunning**

In [45]:
# Defining a Random Forest Classifier using Hyperparameter tunnimg
from sklearn.model_selection import RandomizedSearchCV

rid_reg = Ridge()

param_dist = {"alpha": list(np.array(range(1,9))*0.25),
              "normalize": [True, False]}

random_search = RandomizedSearchCV(rid_reg, param_distributions=param_dist)

random_search.fit(X_train, y_train)

rid_preds = random_search.best_estimator_.predict(X_test)

In [46]:
# model evaluation
print('Ridge Regression - Best estimator:')
print('Best Estimator: \n', random_search.best_estimator_)
print('mean_squared_error : ', mean_squared_error(y_test, rid_preds))
print('mean_squared_percentage_error : ', mean_absolute_percentage_error(y_test, rid_preds, multioutput=[0.3,0.5, 0.7]))
print('R2_score : ', r2_score(y_test, rid_preds))

Ridge Regression - Best estimator:
Best Estimator:
 Ridge(alpha=2.0, normalize=False)
mean_squared_error :  0.0639852836732217
mean_squared_percentage_error :  0.7381342278918509
R2_score :  0.9354091720856812

A very slight change observed after hyperparameter tunning

# Random Forest Regressor

In [47]:
from sklearn.ensemble import RandomForestRegressor
rf_reg=RandomForestRegressor(n_estimators=10,random_state=0)
rf_reg.fit(X_train,y_train)
y_pred_rf=rf_reg.predict(X_test)

In [48]:
# model evaluation
print('Model Evaluation: Random Forest Regressor')
print('mean_squared_error : ', mean_squared_error(y_test, y_pred_rf))
print('mean_squared_percentage_error : ', mean_absolute_percentage_error(y_test, y_pred_rf, multioutput=[0.3, 0.5, 0.7]))
print('R2_score : ', r2_score(y_test, y_pred_rf))

Model Evaluation: Random Forest Regressor
mean_squared_error :  0.026079593173744017
mean_squared_percentage_error :  0.8992623101070448
R2_score :  0.9737630674152973

__The accuracy in this model is 97.37%__